*{
    margin: 0;
    box-sizing: border-box;
    /*test*/
}

ul li{
    list-style: none;
    display: inline-block;
}

li a{
    text-decoration: none;
    margin: 0rem 1rem;
    border: 1px solid beige;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    background-color: beige;
    color: chocolate;
    transition: 0.8ms;
}

li a:hover{
    background-color: chocolate;
    color: beige;
}

p{
    margin: 0.5rem 10rem;
    font-size: 1.2rem;

}

.images img{
    /*height: 80vh;*/
    width: 50vw;
}

nav{
   display: flex;
    justify-content: center;
    align-items: center;

    background-color: chocolate;
    padding: 1.5rem;

}

article{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    background-color: beige;
    border: solid 10px chocolate;

}

h2{
    margin: 1.5rem 0;
    font-size: 2rem;
    color: brown;
}

article a{

    text-decoration: none;
    margin: 0rem 1rem;
    border: 1px solid white;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    background-color: chocolate;
    color: beige;

}

article a:hover{
    background-color: beige;
    color: chocolate;
}

.footer-element{
    color: beige;
}

.alert-success{
    text-align: center;
    color: darkgreen;
}

.alert-error{
    text-align: center;
    color: darkred;
}

.label{
    font-weight: bolder;
    color: chocolate;
}

.container-fluid{
    margin: 2rem;
}