{% extends 'base.html.twig' %}

{% block main %}

    <form action="{{ path('admin-new-category') }}" method="get">

        <label for="title">Titre</label>
        <input type="text" name="title">

        <label for="title">Couleur</label>
        <input type="color" name="color">

        <label for="title">Contenu</label>
        <input type="text" name="description">

        <input type="submit">

    </form>

{% endblock %}